@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;

    background-color: #fff;
}
.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.left, .right {
    flex: 1;
    min-width: 150px;
    padding: 40px;

    box-shadow: 0px 0px 30px 0px #eee inset;
    background-color: #fff;
}
/* MENU .................. */
.logo {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
    position: sticky;
    top: 40px;

    background-image: url("../img/LOGO.svg");
    background-repeat: no-repeat;
}
/* CONTENT ................. */
.content {
    box-sizing: border-box;
    flex: 6;
}
header {
    text-align: center;
    color: #eeeeee;
    
    background-image: url("../img/HEADER_BG.jpg");
    box-shadow: 0px 0px 30px 0px #ddd;
    background-size: cover;
    background-position: 50% 55%;
    background-repeat: no-repeat;
    height: 700px;
}
h1 {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    
    padding-top: 300px;
}
h2 {
    font-size: 3rem;
    font-weight: 400;
}

section {
    display: inline-block;
    padding: 16vh 8vw 16vh 8vw;
}
section h3 {
    font-size: 32px;
    line-height: 44px;
    font-weight: 300;
    color: grey;
}

aside {
    padding: 0 4vw 0 4vw;
}
aside h2 {
    padding-top: 40px;
    text-align: center;
    color: grey;

    margin-bottom: 8vh;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 6vh;
    height: fit-content;
}

article .box {
    flex-grow: 1;
    min-height: 600px;
    max-height: 37.5vw;
    min-width: 400px;
    max-width: 25vw;
    background-color: #dbdbdb;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 0px #eee;
    box-sizing: border-box;
}
article .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    padding: 16vh 8vw 16vh 8vw;
}
footer h2 {
    color: grey;
    text-align: center;
}
/* MENU */
ul#menu {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    height: 10vh;
    position: sticky;
    top: 25vh;

    text-align: center;
}
ul#menu a {
    font-size: 1.5rem;
    text-decoration: none;
    color: grey;
}
ul#menu .contact {
    font-weight: 500;
}
ul#menu a:hover {
    color: black;
}
.socialmedia {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: sticky;
    top: 90vh;
}
.socialmedia a {
    font-size: 2rem;
    text-decoration: none;
    color: grey;
}
.socialmedia a:hover {
    color: black;
}





/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
    .right {
        flex: 0;
        min-width: 0;
        width: 0;
        padding: 0;
    }
    .left {
        min-width: 120px;
    }
}
@media only screen and (max-width: 616px) {
    .container {
        flex-direction: column;
    }
    .left {
        max-height: 8vh;
        padding: 0px;
        flex: 0;
    }
    .logo {
        position: unset;
        width: 0px;
        height: 0px;
        margin: 20px;
    }
    ul#menu {
        position: unset;
        top: 0;
        justify-content: space-evenly;
        flex-direction: row;
        gap: 0;
    }
    ul#menu a {
        font-size: 3.25vw;
        font-weight: 400;
        color: black;
    }
    .socialmedia {
        position: unset;
        top: 0;
        padding: 0;
        width: 0;
        height: 0;
    }
    header {
        height: 92vh;
        background-size: cover;
    }
    h1 {
        font-size: 11vw;
    }
    
}
