@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --blue: #0079C8;
    --black: #222;
    --lightwhite: #eee;
    --white: #fff;
    --shadow: #bbb;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;

    background-color: var(--white)
}
.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.left, .right {
    flex: 1;
    min-width: 150px;
    padding: 40px;

    box-shadow: 0px 0px 30px 0px var(--lightwhite) inset;
    background-color: var(--white)
}
/* MENU .................. */
.logo {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
    position: sticky;
    top: 40px;

    background-image: url("../img/LOGO.svg");
    background-repeat: no-repeat;
}
/* CONTENT ................. */
.content {
    box-sizing: border-box;
    flex: 6;
}
header {
    text-align: center;
    color: var(--lightwhite);
    
    background-image: url("../img/HEADER_BG.webp");
    box-shadow: 0px 0px 30px 0px var(--shadow);
    background-size: cover;
    background-position: 50% 55%;
    background-repeat: no-repeat;
    height: 700px;
}
h1 {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--white);
    
    padding-top: 300px;
}

h2 {
    color: var(--blue);
    font-size: 3rem;
    font-weight: 400;
}

section {
    display: inline-block;
    padding: 16vh 8vw 16vh 8vw;
}
section h3 {
    font-size: 32px;
    line-height: 44px;
    font-weight: 400;
    color: var(--black);
}
.bold {
    font-weight: 500;
}


aside {
    padding: 0 4vw 0 4vw;
}
aside h2 {
    padding-top: 40px;
    text-align: center;
    color: var(--black);
    font-weight: 700;

    margin-bottom: 8vh;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 6vh;
    height: fit-content;
}

article .box {
    flex-grow: 1;
    min-height: 600px;
    max-height: 37.5vw;
    min-width: 400px;
    max-width: 25vw;
    background-color: var(--lightwhite);
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px var(--shadow);
    box-sizing: border-box;
}
article .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    padding: 16vh 8vw 12vh 8vw;
}
.contactflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.alignRight {
    text-align: right;
}
footer h2 {
    color: var(--black);
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
footer a {
    text-decoration: none;
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
    color: var(--black);
}
footer a:hover {
    color: #0079C8;
}

/* MENU */
ul#menu {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    height: 10vh;
    position: sticky;
    top: 25vh;

    text-align: center;
}
ul#menu a {
    font-size: 1.75rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
}
ul#menu .contact {
    font-weight: 700;
}
ul#menu a:hover {
    color: var(--blue);
}
.socialmedia {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: sticky;
    top: 90vh;
}
.socialmedia a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--black);
}
.socialmedia a:hover {
    color: var(--blue);
}





/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
    .right {
        flex: 0;
        min-width: 0;
        width: 0;
        padding: 0;
    }
    .left {
        min-width: 120px;
    }
    ul#menu a {
        font-size: 22px;
    }
    .socialmedia {
        gap: 30px;
    }
}
@media only screen and (max-width: 616px) {
    .container {
        flex-direction: column;
    }
    .left {
        position: sticky;
        top: 0;
        max-height: 8vh;
        padding: 0px;
        flex: 0;
    }
    .logo {
        position: unset;
        width: 0px;
        height: 0px;
        margin: 20px;
    }
    ul#menu {
        position: unset;
        top: 0;
        justify-content: space-evenly;
        flex-direction: row;
        gap: 0;
    }
    ul#menu a {
        font-size: 3.25vw;
        font-weight: 400;
        color: var(--black);
    }
    .socialmedia {
        display: none;
        position: unset;
        top: 0;
        padding: 0;
        width: 0;
        height: 0;
    }
    header {
        width: 100%;
        max-height: 92vh;
        background-color: var(--black);
        background-position: bottom;
    }
    h1 {
        padding-top: 400px;
        font-size: 11vw;
    }
    section h3 {
        font-size: 26px;
        line-height: 36px;
    }
    article .box {
        min-width: 92%;
    }
    article .box img {
        object-position: bottom center;
    }
    footer {
        padding: 6vh 6vw 6vh 6vw;
    }
    footer a {
        font-size: 4vw;
        line-height: 5vh;
    }
}
